*.log
*.mo
*.orig
*.pyc
*.swo
*.swp
*.tags*
*.wpr
*.wp
*project
*workspace
*~
.DS_Store*
.idea/*
.installed.cfg
.settings
*.egg-info
*.pyc
*.pth
bin
build
develop-eggs
dist
include
local
log.html
parts
Thumbs.db
var
buildout-cache
/eggs
.Python
pyvenv.cfg
