[buildout]
extends = https://raw.githubusercontent.com/senaite/senaite.core/2.x/buildout.base.cfg
package-name = senaite.fhir
src-dir = '${buildout:directory}/src/senaite'

[sources]
senaite.patient = git https://github.com/senaite/senaite.patient.git
